name: sync fork
on: 
  workflow_dispatch:
  push:
  #schedule:
  #  - cron: '1 6 * * *'
jobs:     
  sync:
    runs-on: ubuntu-latest
    steps:

    - name: Copy Repository Contents
      uses: actions/checkout@v2
      with:
        fetch-depth: '0'
  
    - name: rebase
      run: |
        git remote add upstream https://github.com/Anaconda-Platform/anaconda-client.git
        git fetch upstream && git checkout master && git merge upstream/master

    - name: push changes
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git add -A
        git commit --allow-empty -m'[bot] sync with upstream'
        git push
    - uses: actions/setup-python@v2
    - name: upload to pypi
      run: |
        python3 setup.py sdist bdist_wheel
        twine upload --repository pypi dist/*
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USER }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASS }}
